
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right" >
        <span class="pull-left title">Messages</span>
        <a class="btn btn-success pull-right">New Message</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
          <!-- add tag to display a list of message-item components here -->
        <ca-message-item *ngFor="let message of messages" [message]="message"></ca-message-item> <!-- message and message are same variable...i can call it message23 if I want-->
      </div>
    </div>
  </div>

</div>

