<div  class="row">
  <div style="background-color: darkgrey" class="col-xs-12">
    <h2><b>Contacts</b>
    <a [routerLink]="['new']" class="btn btn-success pull-right">New Contact</a>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <ca-contact-item *ngFor="let contact of contacts; let i =index" [contact]="contact" [contactID]="contact.name" (click)="onSelected(contact)" dnd-draggable [dragEnabled]="true"
       [dragData]="contact" [dropZones]="['demo1']"></ca-contact-item>

    </ul>
  </div>
</div>
